:root {
    --bg-color-dark: #121212;
    --bg-color-light: #ffffff;
    --color-dark: #ffffff;
    --color-light: #000000;
}

html {
    transition: 0.25s;
}

html[current-color-scheme = "dark"] {
    background-color: var(--bg-color-dark);
    color: var(--color-dark);
}

html[current-color-scheme = "light"] {
    background-color: var(--bg-color-light);
    color: var(--color-light);
}

#color-scheme-selector {
    transition: 0.25s;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 10px;
    margin: 10px;
}

html[current-color-scheme = "dark"] #color-scheme-selector {
    border: 2px var(--color-dark) solid;
    color: var(--color-dark);
}

html[current-color-scheme = "light"] #color-scheme-selector {
    border: 2px var(--color-light) solid;
    color: var(--color-light);
}

html[current-color-scheme = "dark"] #color-scheme-selector:hover {
    background-color: var(--bg-color-light);
    color: var(--color-light);
}

html[current-color-scheme = "light"] #color-scheme-selector:hover {
    background-color: var(--bg-color-dark);
    color: var(--color-dark);
}

